.heading{
    /* border: 10px solid; */
   margin-top: 50px;
   margin-top: 50px;
   -webkit-text-stroke: 3px #104721;
   color: transparent;
}
.welcome-heading{
    margin: 20px auto;
}
.mission-text{
    /* border: 1px solid; */
    width: 90%;
    margin: 20px auto;
    font-family: "Helvetica Neue",Helvetica;
}
.name{
    /* font-size: larger;
    font-weight: bold; */
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    color: #333;
}
.course-name{
   
   font-size: 20px;
}

.sliderGif{
    /* border: 1px solid; */
    width: 100%;
    height: 70vh;
}

.image-gallery{
    /* border: 1px solid; */
    width: 100%;

}

@media (max-width:720px){
    .heading{
    
       margin-top: 90px;
       -webkit-text-stroke: 3px #104721;
       color: transparent;
    }
    .welcome-heading{
        /* border: 1px solid;  */
        margin: 20px auto;
        padding: 5px;
    }
}