
.myBlog{
  margin-top: 70px;
  -webkit-text-stroke: 3px #104721;
  color: transparent;
}
.filterBlog1{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100px;
  border-radius: 5px;
 
}
.filterBlog2{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100px;
  border-radius: 5px;
 
}
.funBlog{
 
 padding: 10px 80px;
}

.funBlog1{
    display: flex;
    gap: 5px;
}
.allFunBtn1{
  display: flex;
  gap: 5px;
}
.funBlog2{
    display: flex;
    gap: 5px;
}
.btn:hover{
    border: white;
    background-color: teal;
    
    
}


.my-data{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
 
  .pagination{
    margin-top: 40px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .my-blog{
  
    /* border: 1px solid rgb(194, 8, 8); */
     width: 25%;
     height: 31vh;
    
  }


 
  .modal{
    border: 1px solid;
    background-color: teal;
    color: wheat;
    margin: 200px auto;
     width:50%;
     padding: 40px;
     border-radius: 10px;
  }
  .modalbtn{
    /* border: 1px solid; */
    padding: 50px auto ;
    width: 200px;
    gap: 8px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    /* margin: 100px auto; */
  }
.modal input::placeholder{
  color: wheat;
}

.modal input{
  margin-top: 10px;
}

.editBlog{
 
  width: max-content;
  margin: auto;
}


/* media queries for mobile */
@media (max-width:720px){
  .myBlog{
    margin-top: 85px;
    margin-bottom: -80px;
    -webkit-text-stroke: 3px #104721;
    color: transparent;
  }
  .funBlog{
   
    margin-top: 100px;
      
     }
  .funBlog1{
   
    display: flex;
    flex-direction: column;
  
}
.filterBlog1{
 
  width: 100px;
  height: 5vh;
  margin-left: -70px;
}
.allFunBtn1{
 
  margin-top: 5px;
  display: flex;
  margin-left: -70px;
  gap: 5px;
}
.filterBlog2{
 
  width: 100px;
  height: 5vh;
  margin-left: -70px;
}
.allFunBtn2{
 
  margin-top: 5px;
  display: flex;
  margin-left: -70px;
  gap: 5px;
}
.funBlog2{
  margin-left: 120px;
  width: 50px;
 
  display: flex;
  flex-direction: column;

}
.allFunBtn1 Button {
  padding: 2px;
  height: 4vh;
 font-size: 10px;
}
.allFunBtn2 Button {
  padding: 2px;
  height: 4vh;
 font-size: 10px;
}



   .my-data{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 5px;
    padding: 20px 0px 20px 0px;
  }
  .my-blog{
    margin: auto;
    width: 90%;
  
  }
  .icons{
    margin-bottom: 60px;
  }
  .image-gallery{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    margin: auto;
   overflow: auto;
  }
.TitleGap{
  display: flex;
  gap: 10px;
}
.modalbtn{
  width: 100%;
  margin-top: 10px;
}
.modalbtn Button{
  height: 4vh;
}


}

  @media (min-width: 721px) and (max-width: 1024px){

    .myBlog{
      margin-top: 80px;
      -webkit-text-stroke: 3px #104721;
      color: transparent;
    }
    .funBlog{
      margin-top:10px;
      padding: 10px 30px 10px 100px;
       }
    .funBlog1{
  
      display: flex;
      flex-direction: column;
    
  }
  .filterBlog1{
    width: 100px;
    height: 5vh;
    margin-left: -70px;
  }
  .allFunBtn1{
 
   
    margin-top: 5px;
    display: flex;
    margin-left: -70px;
    gap: 13px;
  }
  .filterBlog2{
    width: 100px;
    height: 5vh;
    margin-left: -70px;
  }
  .allFunBtn2{
   
    margin-top: 5px;
    display: flex;
    margin-left: -70px;
    gap: 13px;
  }
  .funBlog2{
    margin-left: 120px;
    width: 50px;
   
    display: flex;
    flex-direction: column;
  
  }
  .allFunBtn1 Button {
   
   
    padding: 2px;
    height: 4vh;
   font-size: 10px;
  }
  .allFunBtn2 Button {
    padding: 2px;
    height: 4vh;
   font-size: 10px;
  }
  
  
  
     .my-data{
      /* border: 1px solid; */
      width: 96%;
      margin: 20px auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 15px 0px 15px 80px;
    }
    .my-blog{
      width: 80%;
      height: 24vh;
    
    
    }
    .icons{
      /* border: 1px solid; */
      margin-bottom: 20px;
    }
    .image-gallery{
      margin-top: 40px;
      margin-bottom: 40px;
      width: 80%;
      margin: auto;
     overflow: auto;
    }
  .TitleGap{
    /* border: 1px solid; */
    display: flex;
    gap: 10px;
  }

  }
